body {
  background-color: lightgray;
  font-family: sans-serif;
}

.box {
    margin: auto;
    max-width: 750px;
    padding: 10px;
    background-color: white;
}

.plain {
    color: inherit;
    text-decoration: inherit;
}
